/* --------------------------------- colors --------------------------------- */
$white: #fff;
$txthov: #181b81;
$txtgy: #CBCBD1;
$gradient: linear-gradient(227.3deg, #8a208c 0%, #181b81 100.84%);
 $lgtxt: linear-gradient(178.56deg, #E250E5 5.32%, #4B50E6 94.32%);
/* ------------------------------- transitions ------------------------------ */
$normal-trans: all .5s linear;