/* --------------------------------- imports -------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: transparent;
  list-style: none;
  text-decoration: none;
  font-family: "Urbanist", sans-serif;
}

/* --------------------------------- colors --------------------------------- */
/* ------------------------------- transitions ------------------------------ */
/* -------------------------- cards and subheading -------------------------- */
/* ------------------------------- media-query ------------------------------ */
/* --------------------------------- colors --------------------------------- */
/* ------------------------------- transitions ------------------------------ */
/* -------------------------- cards and subheading -------------------------- */
/* ------------------------------- media-query ------------------------------ */
header .navCon {
  position: absolute;
  width: 100%;
  height: 80px;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px;
  background: transparents;
  border-bottom: 1px solid #fff;
  z-index: 9999;
}
@media (width < 767px) {
  header .navCon {
    padding: 10px 8px;
  }
}
@media (767px < width < 1023px) {
  header .navCon {
    padding: 10px 8px;
  }
}
header .navCon .navcon__item1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
header .navCon .navcon__item1 .linkCon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
@media (width < 767px) {
  header .navCon .navcon__item1 .linkCon {
    position: absolute;
    flex-direction: column;
    align-items: baseline;
    gap: 0em;
    top: 4em;
    width: 100%;
    left: 0;
    padding: 0;
    background: #e7e2e2;
    display: none;
    z-index: 1;
  }
}
@media (767px < width < 1023px) {
  header .navCon .navcon__item1 .linkCon {
    position: absolute;
    flex-direction: column;
    align-items: baseline;
    gap: 0em;
    top: 4.5em;
    width: 100%;
    left: 0;
    padding: 0;
    background: #e7e2e2;
    display: none;
    z-index: 1;
  }
}
@media (width < 767px) {
  header .navCon .navcon__item1 .linkCon .linkwrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 0.5px solid #5a3885;
  }
}
@media (767px < width < 1023px) {
  header .navCon .navcon__item1 .linkCon .linkwrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 0.5px solid #5a3885;
  }
}
header .navCon .navcon__item1 .linkCon .linkwrap .link {
  font-weight: 700;
  font-size: 17px;
  text-transform: capitalize;
  color: #fff;
  width: 100%;
}
@media (width < 767px) {
  header .navCon .navcon__item1 .linkCon .linkwrap .link {
    display: block;
    padding: 1em 1em;
    color: #000;
    transition: all 0.5s linear;
  }
  header .navCon .navcon__item1 .linkCon .linkwrap .link:hover {
    color: #181b81;
  }
}
@media (767px < width < 1023px) {
  header .navCon .navcon__item1 .linkCon .linkwrap .link {
    display: block;
    padding: 1em 1em;
    color: #000;
    transition: all 0.5s linear;
  }
  header .navCon .navcon__item1 .linkCon .linkwrap .link:hover {
    color: #181b81;
  }
}
header .navCon .navcon__item1 .linkCon .linkwrap .more {
  display: none;
}
@media (width < 767px) {
  header .navCon .navcon__item1 .linkCon .linkwrap .more {
    display: block;
    padding-right: 1em;
  }
}
@media (767px < width < 1023px) {
  header .navCon .navcon__item1 .linkCon .linkwrap .more {
    display: block;
    padding-right: 1em;
  }
}
header .navCon .navcon__item2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
@media (width < 767px) {
  header .navCon .navcon__item2 {
    gap: 1em;
  }
}
@media (767px < width < 1023px) {
  header .navCon .navcon__item2 {
    gap: 1em;
  }
}
header .navCon .navcon__item2 .iconsize, header .navCon .navcon__item2 .dblicon .modes, header .navCon .navcon__item2 .iconCon1 {
  font-size: 25px;
  color: #fff;
  cursor: pointer;
}
header .navCon .navcon__item2 .iconCon1 {
  cursor: pointer;
}
header .navCon .navcon__item2 .dblicon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}
@media (width < 767px) {
  header .navCon .navcon__item2 .dblicon {
    position: absolute;
    top: 6em;
    right: 1em;
    flex-direction: column;
  }
}
@media (767px < width < 1023px) {
  header .navCon .navcon__item2 .dblicon {
    position: absolute;
    top: 6em;
    right: 1em;
    flex-direction: column;
  }
}
header .navCon .navcon__item2 .dblicon .modes {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  background: linear-gradient(178.56deg, #E250E5 5.32%, #4B50E6 94.32%);
  border-radius: 10px;
}
header .navCon .navcon__item2 .btn1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  padding: 12px 35px;
  border: 2px solid #fff;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 700;
  font-family: inherit;
  color: #fff;
  text-transform: capitalize;
  background: transparent;
  cursor: pointer;
  transition: all 0.5s linear;
}
header .navCon .navcon__item2 .btn1:hover {
  background: #fff;
  color: #5142fc;
}
header .navCon .navcon__item2 .btn1 .btnicon {
  display: block;
  font-size: 20px;
}
@media (width < 767px) {
  header .navCon .navcon__item2 .btn1 .btnicon {
    display: flex;
  }
}
@media (767px < width < 1023px) {
  header .navCon .navcon__item2 .btn1 .btnicon {
    display: flex;
  }
}
@media (width < 767px) {
  header .navCon .navcon__item2 .btn1 {
    padding: 10px;
    border-radius: 50%;
    font-weight: 200;
  }
  header .navCon .navcon__item2 .btn1 .btn-text {
    display: none;
  }
}
@media (767px < width < 1023px) {
  header .navCon .navcon__item2 .btn1 {
    padding: 20px;
    border-radius: 50%;
    font-weight: 200;
  }
  header .navCon .navcon__item2 .btn1 .btn-text {
    display: none;
  }
}
header .navCon .navcon__item2 .hamburger {
  cursor: pointer;
  display: none;
}
@media (width < 767px) {
  header .navCon .navcon__item2 .hamburger {
    display: block;
  }
}
@media (767px < width < 1023px) {
  header .navCon .navcon__item2 .hamburger {
    display: block;
  }
}
header .navCon .navcon__item2 .hamburger .bars {
  width: 30px;
  height: 3px;
  margin-bottom: 4px;
  background: #fff;
  display: block;
  border-radius: 5px;
}
@media (767px < width < 1023px) {
  header .navCon .navcon__item2 .hamburger .bars {
    height: 4px;
    width: 40px;
  }
}

/* --------------------------------- colors --------------------------------- */
/* ------------------------------- transitions ------------------------------ */
/* -------------------------- cards and subheading -------------------------- */
/* ------------------------------- media-query ------------------------------ */
header .banner {
  padding: 0 15px;
  background-image: url(/imgs/img_bg_page_title.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
header .banner .banner__con {
  padding-top: 80px;
  display: flex;
}
header .banner .banner__con .banner__item1 {
  width: 50%;
  padding: 125px 0;
}
@media (width < 767px) {
  header .banner .banner__con .banner__item1 {
    width: 100%;
    padding: 90px 0 50px;
  }
}
header .banner .banner__con .banner__item1 .banner__lgtxt {
  font-size: 56px;
  color: #fff;
}
header .banner .banner__con .banner__item1 .banner__lgtxt .edit1 {
  color: transparent;
  background: linear-gradient(178.56deg, #E250E5 5.32%, #4B50E6 94.32%);
  -webkit-background-clip: text;
          background-clip: text;
}
header .banner .banner__con .banner__item1 .banner__smtxt {
  font-size: 20px;
  color: #fff;
  margin: 29px 0 35px;
}
header .banner .banner__con .banner__item1 .btncon {
  display: flex;
  gap: 1em;
}
header .banner .banner__con .banner__item1 .btncon .banner__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  padding: 12px 35px;
  border: 2px solid #fff;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 700;
  font-family: inherit;
  color: #fff;
  text-transform: capitalize;
  background: transparent;
  cursor: pointer;
  transition: all 0.5s linear;
  padding: 15px 35px;
}
header .banner .banner__con .banner__item1 .btncon .banner__btn:hover {
  background: #fff;
  color: #5142fc;
}
header .banner .banner__con .banner__item1 .btncon .banner__btn .btnicon {
  display: block;
  font-size: 20px;
}
header .banner .banner__con .banner__item2 {
  width: 50%;
  padding: 73px 17px 0 0;
  position: relative;
}
@media (width < 767px) {
  header .banner .banner__con .banner__item2 {
    display: none;
  }
}
header .banner .banner__con .banner__item2 img {
  width: 100%;
  z-index: 1;
}
header .banner .banner__con .banner__item2 .banner__img1 {
  transition: all 1s ease;
  animation: move 5s infinite;
}
header .banner .banner__con .banner__item2 .banner__img2 {
  position: absolute;
  left: 0;
  transition: all 1s ease;
  animation: move 5s infinite;
}
@keyframes move {
  0% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(-10px);
  }
}
header .banner .banner__con .banner__item2 .balls, header .banner .banner__con .banner__item2 .ball3, header .banner .banner__con .banner__item2 .ball2, header .banner .banner__con .banner__item2 .ball1 {
  display: block;
  border-radius: 50%;
  background: linear-gradient(178.56deg, #E250E5 5.32%, #4B50E6 94.32%);
  animation: move1 5s infinite;
}
@keyframes move1 {
  0% {
    transform: translateX(8px);
  }
  50% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(8px);
  }
}
header .banner .banner__con .banner__item2 .ball1 {
  position: absolute;
  height: 50px;
  width: 50px;
  top: 3em;
  right: 7em;
}
header .banner .banner__con .banner__item2 .ball2 {
  position: absolute;
  top: 6.5em;
  left: 10em;
  height: 20px;
  width: 20px;
}
header .banner .banner__con .banner__item2 .ball3 {
  position: absolute;
  top: 22em;
  left: 25em;
  height: 40px;
  width: 40px;
}

/* --------------------------------- colors --------------------------------- */
/* ------------------------------- transitions ------------------------------ */
/* -------------------------- cards and subheading -------------------------- */
/* ------------------------------- media-query ------------------------------ */
.features {
  padding: 69px 6px 82px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2em;
}
@media (width < 767px) {
  .features {
    grid-template-columns: 1fr;
  }
}
@media (767px < width < 1023px) {
  .features {
    grid-template-columns: 1fr 1fr;
  }
}
.features .features__item {
  text-align: center;
}
.features .features__item .features__img {
  margin-bottom: 25px;
}
.features .features__item .features__img:hover {
  animation: rotate 0.5s forwards;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
.features .features__item .features__lgtxt {
  font-size: 24px;
  text-transform: capitalize;
  margin-bottom: 14px;
  cursor: pointer;
  transition: all 0.5s linear;
}
.features .features__item .features__lgtxt:hover {
  color: #181b81;
}
.features .features__item .features__smtxt {
  font-size: 14px;
  text-transform: capitalize;
  color: #CBCBD1;
  line-height: 22px;
}

/* --------------------------------- colors --------------------------------- */
/* ------------------------------- transitions ------------------------------ */
/* -------------------------- cards and subheading -------------------------- */
/* ------------------------------- media-query ------------------------------ */
main .auction {
  padding: 58px 0 68px;
  background: #000;
}
main .auction .auction__item1 {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px 15px;
  color: #1F1F2C;
}
main .auction .auction__item1 .subh__lgtxt {
  font-size: 36px;
  text-transform: capitalize;
}
main .auction .auction__item1 .subh__smtxt {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  padding-bottom: 4px;
  border-bottom: 1px solid #181b81;
  transition: all 0.5s linear;
  color: #1F1F2C;
}
main .auction .auction__item1 .subh__smtxt:hover {
  color: #181b81;
}
main .auction .auction__item2 {
  padding-top: 24px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .auction .auction__item2 .card {
  background: #fff;
  padding: 20px 20px 13px;
  border-radius: 25px;
  position: relative;
  transition: 1s ease;
}
main .auction .auction__item2 .card .card__imgcon {
  position: relative;
}
main .auction .auction__item2 .card .card__imgcon .card__img {
  border-radius: 20px;
}
main .auction .auction__item2 .card .card__imgcon .timer {
  display: flex;
  align-items: center;
  text-align: center;
  background: #fff;
  color: #1F1F2C;
  height: 40px;
  width: 150px;
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  top: 15.3em;
  left: 4em;
}
main .auction .auction__item2 .card .card__imgcon .timer .timericon {
  color: #181b81;
  font-size: 25px;
  margin-right: 10px;
}
main .auction .auction__item2 .card .card__imgcon .card__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  padding: 12px 35px;
  border: 2px solid #fff;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 700;
  font-family: inherit;
  color: #fff;
  text-transform: capitalize;
  background: transparent;
  cursor: pointer;
  transition: all 0.5s linear;
  background: #fff;
  color: #1F1F2C;
  position: absolute;
  top: 9em;
  left: 4em;
  visibility: collapse;
}
main .auction .auction__item2 .card .card__imgcon .card__btn:hover {
  background: #fff;
  color: #5142fc;
}
main .auction .auction__item2 .card .card__imgcon .card__btn:hover {
  background: #181b81;
  color: #fff;
  border: none;
}
main .auction .auction__item2 .card .card__imgcon .card__btn:hover .card__btnicon {
  color: #fff;
}
main .auction .auction__item2 .card .card__imgcon .card__btn .card__btnicon {
  color: #181b81;
  display: block;
  font-size: 20px;
}
main .auction .auction__item2 .card .card__info {
  margin-top: 1em;
}
main .auction .auction__item2 .card .card__info .card__lgtxt {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 1em;
}
main .auction .auction__item2 .card .card__info .cardinfo__con {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
main .auction .auction__item2 .card .card__info .cardinfo__con .info__con {
  display: flex;
  align-items: center;
  gap: 5px;
}
main .auction .auction__item2 .card .card__info .cardinfo__con .info__con .info__img {
  border-radius: 15px;
}
main .auction .auction__item2 .card .card__info .cardinfo__con .info__con .card__smtxt {
  font-size: 14px;
  text-transform: capitalize;
  color: #CBCBD1;
}
main .auction .auction__item2 .card .card__info .cardinfo__con .info__con .card__mdtxt {
  font-size: 16px;
  text-transform: capitalize;
  color: #1F1F2C;
}
main .auction .auction__item2 .card .card__info .cardinfo__con .bsc {
  background: #181b81;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  padding: 4px 8px;
  border-radius: 8px;
}
main .auction .auction__item2 .card:hover {
  transform: translateY(-40px);
}
main .auction .auction__item2 .card:hover .card__btn {
  visibility: visible;
}/*# sourceMappingURL=styles.css.map */